/*
http://develoteca.com/bootstrap-file-input-archivos-utilizando-html5/
*/

body {
    margin:0;
    padding: 0;
}

    .titulo{
        text-align: center;
        width: 90%;
        margin: 5% 3%;
    }
        .custom-file-control:lang(es)::after {
          content: "Elija su imagen...";
        }
        .custom-file-control:lang(es)::before {
          content: "Buscar";
        }
    
    
    #map{
        height: 700px;
    }

        
div.inputxxx {
    width: 500px;
}

