body{
    background-color: grey;
}

.card{
    margin: 8px !important;
    width: "20px"; 
}
.row .btn dropdown-button{
    background-color: black;
}
.card .row a{
    margin: 0 5px;
}

.card center{
    margin-top: 20px;
}