body{

    background-color: white;
}
.nav-extended{    

    background-color: burlywood;
  

}

.card{
    margin: 8px !important;
    background-color: antiquewhite;
    width: 30rem !important; 
    height: 25rem ;
    
}
/*
filatro{
    display: inline-block;
}
.filtro button{
    float: right;
}*/

.card .row a{
    margin: 0 0 0 15px;
}

.card center{
    margin-top: 20px;
    font-family: cursive;
}

.card-body{
    height: 175px;
}

#map {
    height: 300px;
}

.card center img {
    width: 100%;
    height: 150px;
}


.btn btn-primary{
    width: 105px; 
    height: 35px;
}

.selects{
    margin: 10px 0px;
}

@media (max-width: 768px) {
    .card{
        height: 29rem;
    }
    
    .card .row a {
    margin: 2px 5px 2px 5px;
}
    
}

@media only screen and (min-width: 600px){
    
    .card{
        height: 27rem;
    }
    
    .card .row a {
    margin: 2px 5px 2px 5px;
} 
